<footer class="page-footer  bg-secondary">
    <div class="container-fluid py-1">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-1">
                <h4 class="fs-5 text-white "> Siga-nos nas redes sociais</h4>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <ul class="social-network p-0 m-0">
                        <li>
                            <a href="https://www.linkedin.com/in/ferconstancio/" target="_blank" class="icoLinkedin">
                                <fa-icon [icon]="faLinkedin" class="px-1 fa likedin"></fa-icon>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/fconstancio" target="_blank" class="icoGitHub">
                                <fa-icon [icon]="faGithubSquare" class="px-1 fa github"></fa-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>