<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
                <li class="nav-item">
                    <!-- TODO:TROCAR LINK DA IMG -->
                    <img src="{{foto}}" alt="image do user"
                        width="50px" height="50px" class="img-fluid rounded-circle">
                </li>
                <li class="nav-item ps-3 ">
                    <p class="m-0 fw-bolder text-white fs-16">{{nome}}</p>
                </li>
                <li class="nav-item ps-3 ">
                    <a href="#">
                        <fa-icon [icon]="faEdit" class="text-white fs-16"></fa-icon>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                <li class="nav-item ps-3">
                    <a (click)='sair()' class="m-0 fw-bolder text-white fs-16">Sair
                        <fa-icon [icon]="faSignOutAlt" class="px-1"></fa-icon>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>